[data-reach-listbox-button],
[data-reach-listbox-option] {
  background: #ABABAB;
  border-radius: 50px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 3px 16px;
}

[data-reach-listbox-button] {
  border: none;
}

[data-reach-listbox-popover] {
  background: none;
  border: none;
  box-shadow: 0 0 5px transparent !important;
  outline: 5px solid transparent !important;
  padding: 0;
}

[data-reach-listbox-list] {
  background: white;
  border: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 0px rgba(0, 0, 0, 0.1) !important;
  gap: 5px;
  display: grid;
  gap: 5px;
  min-width: 12rem;
  outline: 5px solid transparent !important;
  padding: 5px;
}

[data-reach-listbox-option][aria-selected="true"] {
  background: hsl(0, 68%, 42%) !important;
}

.arrow {
  fill: white;
  height: 16px;
  width: 16px;
}
